.animate{
    animation-duration: $s1;
    animation-timing-function: ease-out;

    display:none;
}



@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{        
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.moveInLeft{
    animation-name: moveInLeft;
}


@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{        
        transform: translateX(-1rem);  
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(5rem);
    }
    /*80%{        
        transform: translateX(-10px);
    }*/
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.moveInBottom{
    animation-name: moveInBottom;
}
